<div local-class="login">
	<div local-class="login-wrapper">
		<div local-class="login-left">
			<img src="../assets/images/login/pharbers_logo_color.png" alt="">
		</div>
		<div local-class="login-right">
			<div local-class="login-title">演示登入</div>
			<form action="#">
				<div local-class="login-item login-user">
					<img src="../assets/images/login/id.png" alt="">
					{{input value=username autofocus="true" placeholder="请输入帐号"}}
				</div>
				<div local-class="login-item login-password">
					<img src="../assets/images/login/code.png" alt="">
					{{input type="password" value=password placeholder="请输入密码" }}
				</div>
				{{ph-button text="登入" outline=false status="success" isDisabled=false local-class="btn-default-max" click=(action 'login') }}
			</form>
		</div>
	</div>
	<div local-class="copyright">
		<p>Copyright © 2018 Pharbers . All rights reserved.</p>
	</div>
</div>